<div class="header">
            <h1>{{title}}</h1>
            <!-- <h2>A subtitle for your page goes here</h2> -->
        </div>

        {{#with project}}
        <div class="content">
            
            {{inspect pullRequests}}
            <h2 class="content-subhead">Open Pull Requests: {{size pullRequests}}</h2>
            <div id="pullRequests">
            {{#each pullRequests}}
                <div class="pullRequest">
                <h3>Branch {{@key}}</h3>
                    {{#each branchPRs}}
                    <div class="prBranch">
                        <h4>{{repo}}: #{{number}} - {{title}}</h4>
                        <div class="details">
                            <div class="changes"></div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            {{/each}}
            </div>

            <h2 class="content-subhead">Now Let's Speak Some Latin</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <h2 class="content-subhead">Try Resizing your Browser</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        {{/with}}